body{
    background: linear-gradient(to right, #64b3f4, #c2e59c);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 80%;
    font-family: 'Shippori Antique B1', sans-serif;
}

.content{
    background-color: white;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 100px 10px #588cb6;
    transition: 0.3s;
    animation: fadeInUpBig;
    animation-duration: 2s;
}

.content:hover{
    transition: 0.3s;
    box-shadow: 10px 10px 100px 30px #588cb6;
}

.butt{
    background-color: rgba(64, 224, 208, 0.746);
    border-radius: 2px;
    justify-content: center;
}

a{
    text-decoration: none;
    font-family: 'Shippori Antique B1', sans-serif;
    color: black;
}

h3{
    margin-top: 100px;
}

@media(min-width:900px){
    .container{
        margin-top: 20%;
    }
    .content{
        width: 250px;
        height: 250px;
    }
}

@media(max-width:900px){
    .container{
        margin-top: 60%;
    }
    .content{
        width: 300px;
        height: 300px;
    }
}
