ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul:hover{
    background-color: rgba(0, 0, 0, 0.753);
    transition: 0.3s;
}

li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

li:hover{
    background-color: tomato;
    transition: 0.3s;
}

