@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: -webkit-gradient(linear, right top, left top, from(#2bcbba), to(#26de81));
  background: linear-gradient(to left, #2bcbba, #26de81);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  background: -webkit-gradient(linear, right top, left top, from(#2bcbba), to(#26de81));
  background: linear-gradient(to left, #2bcbba, #26de81);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color_button {
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.596);
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.596);
  width: 50px;
  padding: 10px 10px 5px 5px;
  border-radius: 50%;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#2bcbba), to(#26de81));
  background: linear-gradient(to left, #2bcbba, #26de81);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.menu {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: white;
  color: black;
}

.menu a:active {
  background-color: #a5b1c2;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
}

.container {
  background-color: #a5b1c2;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.712);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.712);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
}

.inicio {
  background-color: #ffff;
}

.quien_soy {
  background-color: #d1d8e0;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: 400px;
}

.perfil {
  width: 130px;
  display: inline-block;
}

.perfil img {
  width: 120px;
  float: left;
  border-radius: 50%;
}

.sobre_mi {
  margin-top: 10px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.sobre_mi img {
  width: 80px;
  margin: 5px;
}

.descripcion_sm {
  text-align: center;
}

.tecnologys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
}

.portafolio {
  background-color: #d1d8e0;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
}

.card {
  background-color: #20bf6b;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.568);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.568);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
  width: 20rem;
  height: 15rem;
}

.card:hover {
  background-color: #1aad5c;
}

.iconos {
  float: right;
  margin: 10px;
  width: 30px;
}

small {
  background-color: #1aad5c75;
  padding: 5px;
}

.titulo_card {
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
}

.cv {
  background-color: #ffff;
}

.contactame {
  background-color: #d1d8e0;
}

@media (min-width: 1000px) {
  .card {
    background-color: #20bf6b;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.568);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.568);
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 10px;
    width: 20rem;
    height: 15rem;
  }
  .container {
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
  }
  .quien_soy {
    border-radius: 0px 0px 0px 0px;
    background-color: transparent;
    text-align: center;
    width: 60%;
    font-size: 20px;
    margin-left: 50px;
  }
  .perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    width: auto;
  }
  .perfil img {
    width: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.555);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.555);
  }
  .sobre_mi, .motivacion {
    margin-top: 20px;
    margin-left: 10px;
    width: 45%;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: #d1d8e0;
    text-align: center;
  }
  .color_button {
    -webkit-box-shadow: 0px 0px 0px 0px;
            box-shadow: 0px 0px 0px 0px;
    background-color: transparent;
    width: 50px;
    padding: 10px 10px 5px 5px;
    border-radius: 50%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 18rem;
    height: 18rem;
    padding: 50px 10px 10px 10px;
  }
  .container {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.712);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.712);
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quien_soy {
    background-color: #d1d8e0;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    padding: 10px;
    width: 300px;
  }
  .perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px 5px 0px 0px;
    background-image: url(./imagenes/banner.jpg);
    background-size: cover;
    width: 300px;
    padding: 10px;
  }
  .perfil img {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.582);
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.582);
  }
}
/*# sourceMappingURL=style.css.map */