@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --azul-oscuro-duro: #03256C;
    --azul-oscuro-medio: #2541B2;
    --azul-claro-duro:#2541B2;
    --azul-claro-medio: #06BEE1;
    --azul-claro-suave:#57e3ff;
}

body{
    background-color: white;
}

header{
    background-color: var(--azul-claro-medio);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 15rem;
}
/* ***************** CARTA DE POKEMON ************* */
.is-active{
    display: none;
}
.pokeimgError{
    width: 10rem;
    padding: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid red;
    width: 20rem;
    font-size: 20px;
    font-weight: 600;
}
.error.is-active-error{
    display: none;
}
.form{
    display: flex;
    justify-content: center;
    padding:10px
}
.card{
    background-color: var(--azul-claro-suave);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 20rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    border: 2px solid rgb(211, 211, 0);
    box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.486);
}
.name{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 2px 30px;
    border-radius: 20px;
    color: black;
}
.pokeimg{
    background-image: url(./imagenes/fondo.svg);
    width: 15rem;
}
.idx{
    font-size: 15px;
    font-weight: 500;
    background-color: var(--azul-oscuro-medio);
    color: white;
    padding:2px 50px;
    border-radius:10px;
}
.exp{
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(255, 62, 62);
    color: white;
    padding:2px 50px;
    border-radius:10px;
}
.HP{
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    color: white;
    padding:2px 50px;
    border-radius:10px;
}
.attack{
    font-size: 15px;
    font-weight: 500;
    background-color: var(--azul-claro-duro);
    color: white;
    padding:2px 50px;
    border-radius:10px;
}